$navBarBgColor:white;
$navBarColor:black;
$navBarHeight:100px;

$textColor:whitesmoke;
$textColorHead:#a6c945;
$textColorHeadHighl:#5d311a;
$textFontSize:23px;
$textFontWeight:400;
$textFontWeightHighl:600;
$textFontSizeHighl: 35px;
$mainBgColor:white;

$infoBarHeight:800px;
$infoContainerWidth:600px;

$featureBarHeight:calc(100vw / 5 - 40px);

$textDelayStart: 0.3s;
$textDelay: 0.3s;

$gridSize: 700px;
$graphColorLight: white;
$graphColorDark: black;
$graphColorLightBcgr:#a6c945;
$graphColorDarkBcgr:#108ba7;
$graphColorHighlBcgr:crimson;



