@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
#ingredientsContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 29px;
  color: whitesmoke;
  font-family: "Yanone Kaffeesatz", sans-serif; }
  #ingredientsContainer #showInfoModal {
    position: absolute;
    left: 20px;
    top: 300px;
    text-align: left;
    padding: 10px;
    width: 500px;
    height: auto;
    color: white;
    background-color: red;
    border-radius: 9px;
    z-index: 1;
    line-height: 35px; }
  #ingredientsContainer #showInfoModal::first-letter {
    font-size: 150%;
    font-weight: 700;
    color: black; }
  #ingredientsContainer h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 700;
    color: #a6c945;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: calc(29px * 3.5); }
    #ingredientsContainer h1 .textHighl {
      color: #5d311a; }
  #ingredientsContainer #ingredientsTitleText {
    color: #5d311a;
    font-size: calc(29px * 1.3);
    font-weight: 400;
    padding: 5px;
    text-align: center; }
  #ingredientsContainer h2 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 500;
    font-size: calc(29px * 1.2);
    font-weight: 500;
    color: whitesmoke;
    padding: 0px;
    margin: 0px; }
  #ingredientsContainer p {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 400;
    font-size: calc(29px * 1);
    font-weight: 400;
    color: whitesmoke;
    padding: 0px;
    margin: 0px; }
  #ingredientsContainer #nutrientsContainer {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a4134;
    background-color: white;
    background-image: url("./img/back.jpg");
    background-position: center; }
  #ingredientsContainer #nutrients {
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    font-size: 29px;
    font-family: "Yanone Kaffeesatz", sans-serif; }
    #ingredientsContainer #nutrients .outerCircle {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      clip-path: circle(40%);
      margin: 10px;
      text-align: center; }
    #ingredientsContainer #nutrients #outerCircleRed {
      background-color: red; }
    #ingredientsContainer #nutrients .nutrientBox {
      cursor: pointer;
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #108ba7;
      width: 90%;
      height: 90%;
      clip-path: circle(40%);
      margin: 10px;
      text-align: center; }
      #ingredientsContainer #nutrients .nutrientBox p {
        z-index: 2; }
    #ingredientsContainer #nutrients .nutrientBox:hover {
      background-color: red; }
    #ingredientsContainer #nutrients .box1 {
      transform: translateX(40px) translateY(120px); }
    #ingredientsContainer #nutrients .box2 {
      display: flex;
      position: relative; }
    #ingredientsContainer #nutrients .box3 {
      transform: translateX(-40px) translateY(120px); }
    #ingredientsContainer #nutrients .box5 {
      transform: scaleX(1.5) scaleY(1.5);
      background-color: #a6c945; }
    #ingredientsContainer #nutrients .box7 {
      transform: translateX(40px) translateY(-120px); }
    #ingredientsContainer #nutrients .box9 {
      transform: translateX(-40px) translateY(-120px); }
  #ingredientsContainer li {
    display: flex;
    position: relative; }
    #ingredientsContainer li #line {
      width: 100px;
      border-top: 1px solid black;
      position: absolute;
      height: 10px;
      margin-top: 75px;
      left: 90px;
      z-index: -1; }
    #ingredientsContainer li .fruits {
      width: 150px;
      height: 150px;
      background-color: #a6c945;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 20px; }
    #ingredientsContainer li .ingredientsText {
      font-size: 29px;
      color: whitesmoke;
      font-family: "Yanone Kaffeesatz", sans-serif;
      max-width: 700px;
      color: white;
      background-color: #108ba7;
      padding: 15px;
      margin: 20px 10px 20px 0px;
      border-radius: 9px; }
      #ingredientsContainer li .ingredientsText h2 {
        color: #351a0c;
        font-weight: 700; }
        #ingredientsContainer li .ingredientsText h2 span {
          font-size: 130%;
          font-weight: 700; }
      #ingredientsContainer li .ingredientsText p {
        color: white;
        font-weight: 300;
        line-height: 1.4em; }
      #ingredientsContainer li .ingredientsText h2::first-letter {
        font-size: 130%;
        font-weight: 700; }
  @media only screen and (max-width: 600px) {
    #ingredientsContainer h1 {
      font-size: calc(29px * 1.5); }
    #ingredientsContainer #ingredientsTitleText {
      font-size: calc(29px * 0.9);
      text-align: center; }
    #ingredientsContainer #nutrientsContainer #nutrients {
      height: 400px;
      width: 100%; }
      #ingredientsContainer #nutrientsContainer #nutrients p {
        font-size: calc(29px * 0.5); }
      #ingredientsContainer #nutrientsContainer #nutrients .box1 {
        transform: translateX(15px) translateY(75px); }
      #ingredientsContainer #nutrientsContainer #nutrients .box2 {
        display: flex;
        position: relative;
        transform: translateX(5px) translateY(25px); }
      #ingredientsContainer #nutrientsContainer #nutrients .box3 {
        transform: translateX(-5px) translateY(75px); }
      #ingredientsContainer #nutrientsContainer #nutrients .box5 {
        transform: scaleX(1.5) scaleY(1.5);
        background-color: #a6c945; }
      #ingredientsContainer #nutrientsContainer #nutrients .box7 {
        transform: translateX(15px) translateY(-70px); }
      #ingredientsContainer #nutrientsContainer #nutrients .box8 {
        transform: translateX(0px) translateY(-7px); }
      #ingredientsContainer #nutrientsContainer #nutrients .box9 {
        transform: translateX(-5px) translateY(-75px); }
    #ingredientsContainer #ingredients {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100vw; }
      #ingredientsContainer #ingredients li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%; }
        #ingredientsContainer #ingredients li .fruits {
          display: none; }
        #ingredientsContainer #ingredients li .ingredientsText {
          font-size: 29px;
          color: whitesmoke;
          font-family: "Yanone Kaffeesatz", sans-serif;
          width: 100%;
          color: white;
          background-color: #108ba7;
          margin: 0px;
          margin-top: 10px;
          padding: 0px;
          border-radius: 9px; }
          #ingredientsContainer #ingredients li .ingredientsText h2 {
            padding: 10px; }
          #ingredientsContainer #ingredients li .ingredientsText p {
            font-size: calc(29px * 0.8);
            padding: 10px;
            font-size: calc(29px * 0.8); } }

#shopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  #shopContainer h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #a6c945;
    font-size: calc(29px * 3.5);
    font-weight: 800; }
    #shopContainer h1 .textHighl {
      color: #5d311a; }

.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 29px;
  color: whitesmoke;
  font-weight: 700; }
  .productContainer .prBar {
    display: flex;
    color: #5d311a;
    height: auto;
    width: 100%;
    background-color: white;
    background-image: url("./img/back.jpg");
    background-position: center; }
    .productContainer .prBar .prLeftSide {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .productContainer .prBar .prLeftSide img {
        margin: 0px; }
    .productContainer .prBar .prRightSide {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .productContainer .prBar .prRightSide .prInfoContainer {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .productContainer .prBar .prRightSide .prInfoContainer .prTitle {
          font-size: 45px;
          font-weight: 600;
          color: #5d311a;
          padding-top: 10px;
          padding-bottom: 10px; }
        .productContainer .prBar .prRightSide .prInfoContainer .prSelect {
          font-size: 30px;
          font-weight: 400;
          font-family: "Yanone Kaffeesatz", sans-serif;
          padding-top: 5px;
          padding-bottom: 5px;
          border-radius: 9px;
          background-color: white; }
        .productContainer .prBar .prRightSide .prInfoContainer .prDetails {
          padding-top: 10px;
          font-size: 20px; }
          .productContainer .prBar .prRightSide .prInfoContainer .prDetails .prDetailsTitle {
            color: #5d311a;
            padding-top: 20px;
            padding-bottom: 2 10px;
            font-size: 35px;
            font-weight: 600; }
          .productContainer .prBar .prRightSide .prInfoContainer .prDetails .productFeatures {
            height: 30px;
            font-family: "Yanone Kaffeesatz", sans-serif;
            font-size: 19px;
            padding: 4px;
            margin: 2px;
            background-color: #a6c945;
            border-radius: 5px; }
          .productContainer .prBar .prRightSide .prInfoContainer .prDetails ul {
            margin: 0px; }
            .productContainer .prBar .prRightSide .prInfoContainer .prDetails ul li {
              font-size: 29px;
              font-weight: 300;
              color: #555454;
              padding: 2px; }
          .productContainer .prBar .prRightSide .prInfoContainer .prDetails .buttonShop {
            margin-left: 20px;
            margin-top: 20px; }
    .productContainer .prBar #prSmoothie {
      color: black;
      height: 800px;
      width: 100%;
      border: 1px solid;
      background-color: white; }

@media only screen and (max-width: 600px) {
  #shopContainer h1 {
    margin-top: 20px;
    font-size: calc(29px * 1.5); }

  .productContainer .prBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0px;
    padding: 0px; }
    .productContainer .prBar .prLeftSide {
      width: 100%; }
      .productContainer .prBar .prLeftSide img {
        width: 80%; }
    .productContainer .prBar .prRightSide {
      width: 100%; }
      .productContainer .prBar .prRightSide .prInfoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto; }
        .productContainer .prBar .prRightSide .prInfoContainer .prTitle {
          font-size: calc(29px * 1.2);
          font-weight: 600;
          color: #5d311a;
          padding-top: 10px;
          padding-bottom: 10px; }
        .productContainer .prBar .prRightSide .prInfoContainer .prSelect {
          font-size: calc(29px * 1); }
        .productContainer .prBar .prRightSide .prInfoContainer .prDetails {
          padding-top: 10px; }
          .productContainer .prBar .prRightSide .prInfoContainer .prDetails .prDetailsTitle {
            padding-left: 10px;
            font-size: calc(29px * 1.1); }
          .productContainer .prBar .prRightSide .prInfoContainer .prDetails .productFeatures {
            font-size: calc(29px * 0.7); }
          .productContainer .prBar .prRightSide .prInfoContainer .prDetails ul {
            margin: 0px; }
            .productContainer .prBar .prRightSide .prInfoContainer .prDetails ul li {
              font-size: calc(29px * 0.8);
              line-height: calc(29px * 0.9); }
          .productContainer .prBar .prRightSide .prInfoContainer .prDetails .buttonShop {
            margin-left: 20px;
            margin-top: 20px; } }
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: white;
  font-size: 29px;
  color: whitesmoke;
  font-family: "Yanone Kaffeesatz", sans-serif;
  width: 100%; }
  body .specialText {
    font-family: "Parisienne", cursive;
    font-size: calc(29px * 2.6); }
  body #navigation {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: white; }
    body #navigation #navBar {
      display: flex;
      position: fixed;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      color: black;
      background-color: #cae287;
      height: 105px;
      z-index: 2; }
      body #navigation #navBar .menuLinks,
      body #navigation #navBar .center {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        background-color: #5d311a;
        width: 200px;
        height: 60px;
        text-decoration: none;
        transition: margin;
        transition-duration: 2s; }
      body #navigation #navBar .menuLinks:hover {
        box-sizing: border-box;
        cursor: pointer;
        color: white;
        border-left: 2px solid #cae287;
        border-right: 2px solid #cae287;
        margin-bottom: 10px; }
      body #navigation #navBar .centerLink {
        position: absolute;
        top: -80px;
        left: calc(50% - 110px);
        width: 220px;
        height: 220px;
        color: white;
        background-color: #cae287;
        background-image: url("./img/moringalogo.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 35%;
        background-position-y: 85px;
        border-radius: 50%;
        text-decoration: none; }
      body #navigation #navBar .rightLink {
        clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
        background-color: #5d311a; }
      body #navigation #navBar .leftLink {
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
        background-color: #5d311a; }
    body #navigation #logo img {
      height: 100px; }
  body .seoHeader {
    display: none; }
  body section .bar1 {
    display: flex;
    justify-content: flex-start;
    background-image: url("./img/moringa1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  body section .bar2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("./img/moringa3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  body section .bar3 {
    display: flex;
    justify-content: flex-start;
    background-image: url("./img/moringa2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  body section .bar7 {
    display: flex;
    justify-content: flex-start;
    background-image: url("./img/moringa7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  body section .bar8 {
    display: flex;
    justify-content: flex-end;
    background-image: url("./img/moringa8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  body section .bar9 {
    display: flex;
    justify-content: flex-start;
    background-image: url("./img/moringa9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body section .bar9 .hideAnimatedText {
      visibility: visible;
      animation-duration: 3s;
      animation-name: fadeOut;
      animation-fill-mode: forwards; }
@keyframes fadeOut {
  0% {
    opacity: 0; }
  100% {
    opacity: 10; } }
    body section .bar9 ol {
      margin-top: -40px; }
    body section .bar9 .showAnimatedText {
      opacity: 0;
      animation-duration: 2s;
      animation-name: fadeInLeft;
      animation-fill-mode: forwards; }
@keyframes fadeInLeft {
  0% {
    transform: translate3d(-35px, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
    body section .bar9 #delay1 {
      animation-delay: 0.3s; }
    body section .bar9 #delay2 {
      animation-delay: calc(0.3s + 0.3s * 1); }
    body section .bar9 #delay3 {
      animation-delay: calc(0.3s + 0.3s * 2); }
    body section .bar9 #delay4 {
      animation-delay: calc(0.3s + 0.3s * 3); }
    body section .bar9 #delay5 {
      animation-delay: calc(0.3s + 0.3s * 4); }
    body section .bar9 #delay6 {
      animation-delay: calc(0.3s + 0.3s * 5); }
    body section .bar9 #delay7 {
      animation-delay: calc(0.3s + 0.3s * 6); }
    body section .bar9 #delay8 {
      animation-delay: calc(0.3s + 0.3s * 7); }
    body section .bar9 #delay9 {
      animation-delay: calc(0.3s + 0.3s * 8); }
    body section .bar9 #delay10 {
      animation-delay: calc(0.3s + 0.3s * 9); }
    body section .bar9 #delay11 {
      animation-delay: calc(0.3s + 0.3s * 10); }
  body section .bar10 {
    display: flex;
    justify-content: flex-end;
    background-image: url("./img/moringa10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  body section .feature {
    height: auto;
    width: 100vw;
    border: 1px solid; }
  body section .featureBar1 {
    display: flex;
    flex-direction: column;
    color: black; }
    body section .featureBar1 .featureTitle {
      text-align: center;
      font-size: calc(29px * 2);
      font-weight: 700; }
    body section .featureBar1 .featureColumns {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: calc(100vw / 5 - 40px); }
      body section .featureBar1 .featureColumns .feature1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        justify-content: center;
        background-color: rgba(0, 114, 152, 0.8);
        width: calc(100vw / 5 - 40px);
        height: calc(calc(100vw / 5 - 40px) - 20px);
        border: 1px solid;
        text-align: center; }
  body section .info {
    height: 800px;
    width: 100vw;
    margin: 0px;
    box-sizing: border-box; }
    body section .info .infoContainer {
      background-color: rgba(7, 37, 48, 0.6);
      width: 600px;
      margin: 90px 60px 90px 60px;
      transition: height 1.5s;
      transition-timing-function: ease-out-in;
      overflow: hidden; }
      body section .info .infoContainer .infoTitle {
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: calc(29px * 2.8);
        font-weight: 700;
        height: auto;
        padding: 12px;
        text-align: center; }
        body section .info .infoContainer .infoTitle .infoSubTitle {
          font-size: calc(29px * 2);
          font-weight: 400;
          height: auto;
          text-align: center; }
      body section .info .infoContainer .borderedTitle {
        border-bottom: 1px solid white;
        margin: 30px; }
      body section .info .infoContainer #infoText {
        font-size: 29px;
        font-weight: 300;
        padding: 30px;
        max-width: 80%;
        line-height: 2.1rem; }
    body section .info .showInfoContainer {
      background-color: rgba(0, 0, 0, 0.4);
      height: calc(800px - 180px); }
    body section .info .hideInfoContainer {
      height: 0px; }
    body section .info .textContainer {
      background-color: rgba(0, 0, 0, 0.4);
      width: calc(100% - 600px - 300px);
      max-height: 5em;
      padding: 30px;
      margin: 90px 30px 90px 30px; }
  @media only screen and (max-width: 600px) {
    body section .info {
      margin: 0px;
      height: auto; }
      body section .info .infoContainer {
        width: 100%;
        margin: 20px;
        height: auto; }
        body section .info .infoContainer .infoTitle {
          font-family: "Yanone Kaffeesatz", sans-serif;
          font-size: calc(29px * 1.3); }
          body section .info .infoContainer .infoTitle .infoSubTitle {
            font-size: calc(29px * 0.8);
            font-weight: 400;
            height: auto;
            text-align: center; }
        body section .info .infoContainer .borderedTitle {
          border-bottom: 1px solid white;
          margin: 0px; }
        body section .info .infoContainer #infoText {
          font-size: calc(29px * 0.8);
          font-weight: 300;
          padding: 30px;
          max-width: 80%;
          line-height: 2.1rem; }
          body section .info .infoContainer #infoText ol {
            margin-top: 0px;
            padding-left: 10px; } }
  body .buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 200px;
    height: 70px;
    background-color: rgba(7, 37, 48, 0);
    border: none;
    margin-left: 30px;
    padding: 0px; }
    body .buttons .buttonLink {
      display: block;
      position: absolute;
      font-size: 29px;
      color: whitesmoke;
      font-family: "Yanone Kaffeesatz", sans-serif;
      background-color: #5d311a;
      width: 200px;
      height: 60px;
      line-height: 60px;
      clip-path: polygon(0% 0%, 100% 0, 90% 51%, 80% 100%, 0% 100%);
      border-radius: 9px;
      border-bottom: 5px solid #1f1008;
      cursor: pointer;
      text-decoration: none;
      top: 0px; }
    body .buttons .buttonLink:hover {
      top: -3px;
      border-bottom: 8px solid #1f1008; }
    body .buttons .buttonLink:active {
      margin-top: 7px;
      box-sizing: border-box;
      border-top: none;
      border-bottom: 0px;
      background-color: #5d311a; }
  body footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 20px;
    color: white;
    border: none;
    border-bottom: 10px solid #cae287;
    background-color: #5d311a;
    height: auto;
    z-index: 2; }
    body footer .contact {
      font-weight: 400;
      line-height: 35px;
      text-align: center; }
    body footer .developer {
      font-size: 22px;
      font-weight: 300;
      line-height: 25px; }
      body footer .developer .icon {
        color: white; }
  @media only screen and (max-width: 600px) {
    body #navigation {
      width: 100vw;
      position: relative; }
      body #navigation #navBar {
        width: 100%;
        position: relative; }
        body #navigation #navBar .menuLinks, body #navigation #navBar .leftLink, body #navigation #navBar .rightLink,
        body #navigation #navBar .center {
          width: calc(100% / 5);
          font-size: 14.79px; }
        body #navigation #navBar .centerLink {
          position: absolute;
          top: -100px;
          left: calc(50% - 60px);
          width: 100px;
          height: 170px;
          color: white;
          background-color: #cae287;
          background-image: url("./img/moringalogo.png");
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: 40%;
          background-position-y: 100px;
          border-radius: 50%;
          text-decoration: none; } }

/*# sourceMappingURL=App.css.map */
